@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  margin: 0 auto 50px auto;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  word-spacing: 1em;
  font-weight: 900;
  background-color: rgba(81, 162, 209, 0.5);
  padding: 1em;
}

.error {
  height: 500px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(255, 0, 0, 0.05);
}

.info-card {
  padding: 1em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #4B7F52;
}

.info-card.success {
  background-color: rgba(125, 209, 129, 0.5);
  color: #4B7F52;
}

.info-card.delete {
  background-color: rgba(214, 65, 65, 0.336);
  color: rgba(102, 43, 43, 0.9);
}

.info-card .card-content {
  margin-top: 20px;
}

.container {
  margin-top: 50px;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.container .row span {
  font-size: .9em;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 20px;
  display: inline-block;
}

.container .row .watermark .wrapper-form {
  background-color: rgba(125, 209, 129, 0.5);
  text-align: center;
}

.container .row .watermark .wrapper-form .watermark-preview {
  width: 50%;
}

.container .row .watermark .wrapper-form label {
  color: #4B7F52;
}

.container .row .watermark .wrapper-form label:hover {
  color: rgba(75, 127, 82, 0.5);
}

.container .row .background-images .wrapper-form {
  background-color: rgba(232, 150, 150, 0.5);
}

.container .row .background-images .wrapper-form label {
  color: rgba(139, 80, 80, 0.9);
}

.container .row .background-images .wrapper-form label:hover {
  color: rgba(139, 80, 80, 0.5);
}

.wrapper {
  padding: 1em;
  width: 100%;
}

.wrapper label {
  padding: 1em 3em;
  display: inline-block;
  cursor: pointer;
  font-size: .9em;
}

.wrapper .wrapper-form {
  position: relative;
  height: 50vh;
  width: 40vw;
  margin: 0 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .wrapper-form .images-preview {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  gap: .4em;
}

.wrapper .wrapper-form .images-preview .preview {
  width: 100%;
}

.wrapper .wrapper-form input {
  display: none;
}

.wrapper .wrapper-form button {
  position: absolute;
  bottom: 1.5em;
  padding: 1.2em 3em;
  font-size: .75em;
}

.combine-btn {
  text-align: center;
  margin-bottom: 30px;
}

.combine-btn button {
  margin-top: 50px;
  padding: 1em 3em;
}

.download {
  background-color: rgba(81, 162, 209, 0.3);
  width: 90%;
  margin: 30px auto 0 auto;
  position: relative;
  padding: 1em;
}

.download .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.download .wrapper .download-btn {
  padding: .5em;
  color: rgba(139, 80, 80, 0.9);
  text-decoration: none;
}

.download .wrapper .download-btn:hover {
  font-weight: 800;
}

.delete-section {
  width: 90%;
  background-color: rgba(139, 80, 80, 0.1);
  margin: 50px auto 0 auto;
  padding: 1em;
}

.delete-section form {
  margin-top: 20px;
}

.delete-section form button {
  background-color: rgba(240, 54, 54, 0.5);
  padding: .5em 1em;
  margin: 5px;
}

.delete-section form button:hover {
  background-color: rgba(151, 29, 29, 0.5);
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: rgba(81, 162, 209, 0.5);
  font-size: .9em;
}

button:hover {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  background-color: rgba(81, 162, 209, 0.8);
}

.hide {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .container .row {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .container .row .wrapper-form {
    width: 80vw;
  }
}
/*# sourceMappingURL=master.css.map */