@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    margin: 0 auto 50px auto;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
    word-spacing: 1em;
    font-weight: 900;
    background-color: rgba(81, 162, 209, .5);
    padding: 1em;
}

.error{
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(255, 0, 0, 0.05);

}

.info-card{
    padding: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #4B7F52;

    &.success{
        background-color: rgba(125, 209, 129, .5);
        color: #4B7F52;
    }
    &.delete{
        background-color: rgba(214, 65, 65, 0.336);
        color: rgba(102, 43, 43, 0.9);
    }
    .card-content{
        margin-top: 20px;
    }
}

.container{
    margin-top: 50px;
    .row{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-flow: row;
        span{
            font-size: .9em;
            font-weight: 500;
            margin-bottom: 5px;
            margin-left: 20px;
            display: inline-block;
        }
        .watermark {
            .wrapper-form{
                background-color: rgba(125, 209, 129, .5);
                text-align: center;
                .watermark-preview{
                    width: 50%;
                    
                }
                label{
                    color: #4B7F52;
                    &:hover{
                        color: rgba(75, 127, 82, .5);
                    }
                }
            }
        }
        .background-images{
            .wrapper-form{
                background-color: rgba(232, 150, 150, .5);
                label{
                    color: rgba(139, 80, 80, 0.9);
                    &:hover{
                        color: rgba(139, 80, 80, 0.5);
                    }
                }
            }
        }    
    }
}



.wrapper{
    padding: 1em;
    width: 100%;
    label{
        padding: 1em 3em;
        display: inline-block;
        cursor: pointer;
        font-size: .9em;
    }
    .wrapper-form{
        position: relative;
        height: 50vh;
        width: 40vw;
        margin: 0 20px 0 20px ;
        display: flex;
        align-items: center;
        justify-content: center;
        .images-preview{
            width: 100%;
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            position: relative;
            gap: .4em;
            .preview{
                width: 100%;
            }
        }

        input{
            display: none;
        }
        button{
            position: absolute;
            bottom: 1.5em;
            padding: 1.2em 3em;
            font-size: .75em;
        }
    }
}

.combine-btn{
    text-align: center;
    margin-bottom: 30px;
    button{
        margin-top: 50px;
        padding: 1em 3em;
    }
}


.download{
    background-color: rgba(81, 162, 209, .3);
    width: 90%;
    margin: 30px auto 0 auto;
    position: relative;
    padding: 1em;

    .wrapper{
        display: flex;
        flex-flow: row wrap;
    
        .download-btn{
            padding: .5em;
            color:rgba(139, 80, 80, 0.9);
            text-decoration: none;

            &:hover{
                font-weight: 800;
            }
        }
    }
}

.delete-section{
    width: 90%;
    background-color: rgba(139, 80, 80, 0.1);
    margin: 50px auto 0 auto;
    padding: 1em;
    form{
        margin-top: 20px;
        button{
            background-color:rgba(240, 54, 54, 0.5);
            padding: .5em 1em;
            margin: 5px;

            &:hover{
                background-color:rgba(151, 29, 29, 0.5);
            }
        }
    }
}


button{
    cursor: pointer;
    display: inline-block;
    border: none;
    background-color: rgba(81, 162, 209, .5);
    font-size: .9em;
    &:hover{
        transition-duration: 150ms;
        background-color: rgba(81, 162, 209, .8);
    }
}

.hide{
    display: none !important;
}

@media screen and (max-width: 768px) {
    .container{
        .row{
            flex-flow: wrap;

            .wrapper-form{
                width: 80vw;
            }
        }       
    }
}